---
import { Section } from './Section';
import { Icon } from 'astro-icon';
---
  <div class="mx-auto max-w-screen-lg px-3 py-6">
  <div class='navbar rounded-xl bg-base-300'>
    <div class='flex-1'>
      <a href='/' class='btn btn-ghost text-xl normal-case'
        ><img src='/assets/images/moonifyLogo.png' alt='Moonify Logo' />
      </a>
    </div>
    <div class='navbar-end'>
      <a
        href='https://github.com/moonR2/'
        class='btn btn-ghost btn-circle'
        target='_blank'
      >
        <Icon name='bytesize:github' class='w-6' />
      </a>
      <a
        href='https://www.linkedin.com/in/moonify/'
        class='btn btn-ghost btn-circle'
        target='_blank'
      >
        <Icon name='brandico:linkedin-rect' class='w-6' />
      </a>
      <a
        href='https://www.youtube.com/channel/UCwHdYzERZ5a3N8t6bPmWHfQ'
        class='btn btn-ghost btn-circle'
        target='_blank'
      >
        <Icon name='fa:youtube-play' class='w-6' />
      </a>
      <a
        href='https://twitter.com/Moonlfy1'
        class='btn btn-ghost btn-circle'
        target='_blank'
      >
        <Icon name='fontisto:twitter' class='w-6' />
      </a>
    </div>
  </div>
  </div>
